In [1]:
import sys
import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

sys.path.insert(1, './data/')
import health_data as health_data

In [3]:
# health data by state
ensanut = health_data.get_ensanut()
ensanut.head()

,Diabetes,Hipertension,Tabaquismo,POB_20_MAS_2018,Cardiovascular,Porcentaje_Diabetes,Porcentaje_Hipertension,Porcentaje_Tabaquismo,Porcentaje_Cardiovascular
CVE_GEO,,,,,,,,,
1,65487,126227,200182.0,858654,0.0,0.076267,0.147006,0.233135,0.000000
2,247659,516012,437796.0,2456298,2120.0,0.100826,0.210077,0.178234,0.000863
3,47555,93546,112282.0,565680,0.0,0.084067,0.165369,0.198490,0.000000
4,88036,163436,76876.0,625996,635.0,0.140633,0.261082,0.122806,0.001014
5,253158,455245,454164.0,2032566,682.0,0.124551,0.223976,0.223444,0.000336

In [4]:
# hospital data by hospital
hospitals = health_data.get_hospital_data()
hospitals.head()

,Clave Estado,Nombre Estado,Clave Municipio,Nombre Municipio,Número de Consultorios de Epidemiología,Número de Consultorios de Infectología,Número de Consultorios de Neumología,Número de consultorios en área de urgencias,TOTAL CAMAS AREA HOSPITALIZACIÓN,Número de Médicos Generales,Número deMédicos Neumólogos,Número de Médicos Infectólogos,Número de Médicos Urgenciólogos,Número de Médicos Epidemiólogos,Total enfermeras en contacto con el paciente
0,1,AGUASCALIENTES,1,AGUASCALIENTES,0,0,0,2,141,5,0,0,22,0,422
1,1,AGUASCALIENTES,1,AGUASCALIENTES,0,0,2,1,207,5,2,0,23,0,520
14,1,AGUASCALIENTES,5,JESÚS MARÍA,1,0,0,2,144,4,0,1,21,0,524
16,1,AGUASCALIENTES,1,AGUASCALIENTES,0,0,1,2,82,13,1,0,13,2,288
28,1,AGUASCALIENTES,1,AGUASCALIENTES,0,0,0,3,60,21,1,0,2,1,234

In [5]:
# population data by state
conapo = health_data.get_conapo()
conapo.head()

,CVE_GEO,EDAD_MED,POB_MIT_AÑO,POB_12_14,POB_15_17,POB_15_19,POB_15_29,POB_15_49,POB_18_24,POB_20_24,POB_3_5,POB_30_64,POB_6_11,POB_65_MAS
151,1,27.00,1434635,80285,80698,133976,389147,774999,183623,130345,75951,566069,157335,91933
232,2,28.74,3634868,184400,186875,312423,949062,1999516,443050,317502,181944,1546605,364994,231497
313,3,28.51,804708,40003,40181,67198,206768,445051,96038,69021,42210,343153,81766,48966
394,4,28.00,1000617,51364,50987,84871,258774,541300,119854,85970,54496,408709,106131,67753
475,5,28.00,3218720,167697,167040,277265,807595,1675574,380384,270159,180285,1308527,342806,229744

In [6]:
# territory area by state
territory = health_data.get_territory()
territory.head()

   CVE_GEO     Km2
0        1    5589
1        2   70113
2        3   73677
3        4   51833
4        5  151571

In [7]:
# merged data
data_all = health_data.merge_data()
data_all.head()

,CVE_GEO,EDAD_MED,POB_MIT_AÑO,POB_12_14,POB_15_17,POB_15_19,POB_15_29,POB_15_49,POB_18_24,POB_20_24,...,Total de unidades de Hospitalizacion,Diabetes,Hipertension,Tabaquismo,POB_20_MAS_2018,Cardiovascular,Porcentaje_Diabetes,Porcentaje_Hipertension,Porcentaje_Tabaquismo,Porcentaje_Cardiovascular
0,1,27.00,1434635,80285,80698,133976,389147,774999,183623,130345,...,11,65487,126227,200182.0,858654,0.0,0.076267,0.147006,0.233135,0.000000
1,2,28.74,3634868,184400,186875,312423,949062,1999516,443050,317502,...,25,247659,516012,437796.0,2456298,2120.0,0.100826,0.210077,0.178234,0.000863
2,3,28.51,804708,40003,40181,67198,206768,445051,96038,69021,...,19,47555,93546,112282.0,565680,0.0,0.084067,0.165369,0.198490,0.000000
3,4,28.00,1000617,51364,50987,84871,258774,541300,119854,85970,...,22,88036,163436,76876.0,625996,635.0,0.140633,0.261082,0.122806,0.001014
4,5,28.00,3218720,167697,167040,277265,807595,1675574,380384,270159,...,47,253158,455245,454164.0,2032566,682.0,0.124551,0.223976,0.223444,0.000336